<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a00959419.comp3717.bcit.ca.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScreenMain"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScreenPaused"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScreenPlay"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScreenSettings"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScreenTutorial"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScreenDiscoveries"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScreenDiscovery"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <!--
        <activity android:name=".ScreenDiscoveries"></activity>
        <activity android:name=".ScreenDiscovery"></activity>
        <activity android:name=".ScreenPaused"></activity>
        <activity android:name=".ScreenSettings"></activity>
        <activity android:name=".ScreenTutorial"></activity>
        <activity android:name=".ScreenPlay"></activity>
        -->
        <activity android:name=".ScreenLevelSelect"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity android:name=".ScreenGameOver"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

    </application>

</manifest>